<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Electra - Repair Shop | Login</title>

  <%= stylesheet_link_tag 'application', :media => 'all' %>

</head>

<body class="gray-bg">

<div class="loginColumns animated fadeInDown">
  <div class="row pull-right margin-bottom">
    <%= form_tag local_switcher_home_index_path, :class => 'locale' do %>
        <%= select_tag 'locale_set', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()' %>
    <% end %>
  </div>

  <div class="row">

    <div class="col-md-6">
      <h2 class="font-bold"><%= t('signin.tagline') %></h2>

      <p>
        <%= t('signin.instruction') %>
      </p>

      <p>
        <%= t('signin.help') %>
      </p>
      <%= link_to t('signin.back'), root_path %>

    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'regForm m-t', :method => :post} do |f| %>
          <div class="form-group">
            <%= f.text_field :mobile_no, class: 'form-control', :placeholder => t('signin.mobile'), :size => '12' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off', :placeholder => t('signin.pw'), :size => '50' %>
          </div>
            <%= f.submit 'Submit', class:'btn btn-primary block full-width m-b', :value => t('signin.btn') %>

          <!--<a href="login_two_columns.html#">-->
            <!--<small>Forgot password?</small>-->
          <!--</a>-->

          <!--<p class="text-muted text-center">-->
            <!--<small>Do not have an account?</small>-->
          <!--</p>-->
          <!--<a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>-->
        <% end %>
        <p class="m-t">
          <small>Kingstar Mobile &copy; 2016</small>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      Copyright Kingstar Mobile
    </div>
    <div class="col-md-6 text-right">
      <small>© 2015-2016</small>
    </div>
  </div>
</div>

</body>

</html>


