<div class="wrapper wrapper-content animated fadeInRight">
  <h1><%= @activity_status.new_record? ? 'New Activity Status' : 'Edit Activity Status' %></h1>

  <div class="row">
    <div class="col-md-8">
      <%= form_for([:admin, @activity_status], :html => {role: 'form'}) do |f| %>

          <%= render partial: 'shared/errors', :locals => {object: @activity_status} %>

          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Activity Status</h5>
            </div>

            <div class="ibox-content">

              <div class="form-group">
                <%= f.label 'Name' %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
              </div>
              <div class="form-group">
                <%= f.label 'Status' %>
                <%= f.text_field :status, class: 'form-control', placeholder: 'Status', required: true %>
              </div>
            </div>
          </div>

          <div class="actions form-group">
            <%= f.submit class: 'btn btn-sm btn-primary pull-left m-t-n-xs' %>
            <%= link_to 'Back', admin_activity_statuses_path, class: 'btn btn-sm btn-white m-t-n-xs margin-left' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
