<div class="container main-container headerOffset">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <h2 class="section-title-inner">
        <span>
          <i class="fa fa-lock"></i>
          Authentication
        </span>
      </h2>

      <div class="row userInfo">
        <div class="col-xs-6 col-sm-6">
          <div class="control-group">
            <%= link_to  user_omniauth_authorize_path(:facebook), :class => 'btn btn-block btn-social btn-facebook' do %>
                <i class="fa fa-facebook"></i> Sign up with Facebook
            <% end %>

            <br />
            <%= link_to  user_omniauth_authorize_path(:twitter), :class => 'btn btn-block btn-social btn-twitter' do %>
                <i class="fa fa-twitter"></i> Sign up with Twitter
            <% end %>

            <br />
            <%= link_to  user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-block btn-social btn-google' do %>
                <i class="fa fa-google"></i> Sign up with Google
            <% end %>

            <br />
            <%= link_to  user_omniauth_authorize_path(:linkedin), :class => 'btn btn-block btn-social btn-linkedin' do %>
                <i class="fa fa-linkedin"></i> Sign up with Linked In
            <% end %>
          </div>
        </div>
      </div>

      <div class="row userInfo">
        <div class="col-xs-12 col-sm-6">
          <h5 class="text-center" style="padding:10px 0 10px 0;">OR</h5>
        </div>
      </div>
      <div class="row">
        <%= devise_error_messages! %>
      </div>
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-6">
          <h2 class="block-title-2">Create an account</h2>
          <%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'regForm', :method => :post} do |f| %>
            <div class="form-group">
              <label>First name</label>
              <%= f.text_field :first_name, class: 'form-control', :placeholder => 'Enter First Name', :size => '50' %>
            </div>
            <div class="form-group">
              <label>Last name</label>
              <%= f.text_field :last_name, class: 'form-control', :placeholder => 'Enter Last Name', :size => '50' %>
            </div>
            <div class="form-group">
              <label>Email</label>
              <%= f.text_field :email, class: 'form-control', :placeholder => 'Email', :size => '50' %>
            </div>
            <div class="form-group">
              <label>Password</label>
              <%= f.password_field :password, class: 'form-control', autocomplete: 'off', :placeholder => 'Password', :size => '50' %>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', :placeholder => 'Confirm Password', :size => '50' %>
            </div>
            <div class="error"></div>
            <div>
              <div>
                <%= f.submit 'Submit', class:'btn btn-primary', :value => 'Submit' %>
              </div>
            </div>
          <% end %>
        </div>
        </div>
    </div>
    <!-- /row end
    -->
    <div class="col-lg-3 col-md-3 col-sm-5"></div>
  </div>
  <div style="clear:both"></div>
</div>
<script type="text/css">

  /*flash*/
  .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    }

  .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    }

  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    }

  .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    }

</script>
