<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-6">

      <div class="profile-info no-margins" >
        <div class="">
          <div>
            <h2 class="no-margins">
              <%= @service_center.name %>
            </h2>
            <small>
              There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form Ipsum available.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <table class="table small m-b-xs">
        <tbody>
        <tr>
          <td>
            Status <strong><%= @service_center.is_active ? 'Active' : 'Not Available' %></strong>
          </td>
        </tr>
        <tr>
          <td>
            Address <strong><%= @service_center.address %></strong>
          </td>
        </tr>
        <tr>
          <td>
            Contact <strong><%= @service_center.phone %></strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Google map</h5>
        </div>
        <div class="ibox-content">
          <p>
            You can also find us on Google maps.
          </p>
          <div class="google-map" id="map1"></div>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'Edit', edit_admin_service_center_path(@service_center), class: 'btn btn-sm btn-white m-t-n-xs' if admins? %>
  <%= link_to 'back', admin_service_centers_path, class: 'mergin-left btn btn-sm btn-white m-t-n-xs' %>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
<script type="text/javascript">
    // When the window has finished loading google map
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Options for Google map
        // More info see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var address = '<%=raw @service_center.address %>';
        geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });


        var mapOptions1 = {
            zoom: 16,
            styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]
        };

        map = new google.maps.Map(document.getElementById("map1"), mapOptions1);


    }
</script>