<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
            <%= image_tag current_user.profile.photo.present? ? current_user.profile.photo_url(:thumb) : 'profile_small.jpg',:class => 'img-circle'%>
                             </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs">
                              <strong class="font-bold"><%= current_user.profile.first_name %>&nbsp;<%= current_user.profile.last_name %></strong>
                            </span>
                            <span class="text-muted text-xs block"><%= current_user.roles.first.name %> <b class="caret"></b></span>
                            </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="<%= profile_path(current_user.profile) %>"><%= t('sidebar.profile') %></a></li>
            <li class="divider"></li>
            <li><%= link_to t('header.logout'), destroy_user_session_path, :method => 'delete' %></li>
          </ul>
        </div>

        <div class="logo-element">
          Admin
        </div>
      </li>
      <% if admins? %>
          <li>
            <a href="javascript:;"><i class="fa fa-users"></i> <span class="nav-label"><%= t('sidebar.users.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_admin_user_path %>"><%= t('sidebar.users.new') %></a></li>
              <li><a href="<%= admin_users_path %>"><%= t('sidebar.users.all') %></a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:;"><i class="fa fa-plug"></i> <span class="nav-label"><%= t('sidebar.service_centers.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_admin_service_center_path %>"><%= t('sidebar.service_centers.new') %></a></li>
              <li><a href="<%= admin_service_centers_path %>"><%= t('sidebar.service_centers.all') %></a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><i class="fa fa-globe"></i> <span class="nav-label"><%= t('sidebar.device_brands.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_admin_device_brand_path %>"><%= t('sidebar.device_brands.new') %></a></li>
              <li><a href="<%= admin_device_brands_path %>"><%= t('sidebar.device_brands.all') %></a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><i class="fa fa-tablet"></i> <span class="nav-label"><%= t('sidebar.device_models.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_admin_device_model_path %>"><%= t('sidebar.device_models.new') %></a></li>
              <li><a href="<%= admin_device_models_path %>"><%= t('sidebar.device_models.all') %></a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><i class="fa fa-bug"></i> <span class="nav-label"><%= t('sidebar.device_problems.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_admin_device_problem_path %>"><%= t('sidebar.device_problems.new') %></a></li>
              <li><a href="<%= admin_device_problems_path %>"><%= t('sidebar.device_problems.all') %></a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:;"><i class="fa fa-check"></i> <span class="nav-label"><%= t('sidebar.activity_status.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_admin_activity_status_path %>"><%= t('sidebar.activity_status.new') %></a></li>
              <li><a href="<%= admin_activity_statuses_path %>"><%= t('sidebar.activity_status.all') %></a></li>
            </ul>
          </li>

          <!--<li>-->
            <!--<a href="javascript:;"><i class="fa fa-signal"></i> <span class="nav-label"><%#= t('sidebar.device_status.title') %></span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse in">-->
              <!--<li><a href="<%#= new_admin_device_status_path %>"><%#= t('sidebar.device_status.new') %></a></li>-->
              <!--<li><a href="<%#= admin_device_statuses_path %>"><%#= t('sidebar.device_status.all') %></a></li>-->
            <!--</ul>-->
          <!--</li>-->

          <li>
            <a href="javascript:;"><i class="fa fa-tag"></i> <span class="nav-label"><%= t('sidebar.final_status.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_admin_final_status_path %>"><%= t('sidebar.final_status.new') %></a></li>
              <li><a href="<%= admin_final_statuses_path %>"><%= t('sidebar.final_status.all') %></a></li>
            </ul>
          </li>

      <% elsif current_user.is_receptionist? %>
          <li>
            <a href="javascript:;"><i class="fa fa-tag"></i> <span class="nav-label"><%= t('repair_order.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= new_repair_order_path %>"><%= t('repair_order.new') %></a></li>
              <li><a href="<%= repair_orders_path %>"><%= t('repair_order.all') %></a></li>
            </ul>
          </li>
      <% else %>
          <li>
            <a href="javascript:;"><i class="fa fa-tag"></i> <span class="nav-label"><%= t('repair_order.title') %></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse in">
              <li><a href="<%= repair_orders_path %>"><%= t('repair_order.all') %></a></li>
              <li><a href="<%= repair_orders_path %>"><%= t('repair_order.my_jobs') %></a></li>
            </ul>
          </li>
      <% end %>
    </ul>

  </div>
</nav>