<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <!--<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>-->
      <!--<form role="search" class="navbar-form-custom" action="#">-->
      <!--<div class="form-group">-->
      <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">-->
      <!--</div>-->
      <!--</form>-->
    </div>


    <ul class="nav navbar-top-links navbar-right">
      <li>
        <%= form_tag local_switcher_home_index_path, :class => 'locale' do %>
            <%= select_tag 'locale_set', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()' %>
        <% end %>
      </li>
      <% if admins? %>
          <li>
            <span class="m-r-sm text-muted welcome-message">
              <%= link_to t('header.dashboard'), admin_dashboard_path %>
            </span>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:void(0)">
              <%= t('header.inventory.title') %> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="<%= new_admin_parts_inventory_path %>">
                  <div>
                    <%= t('header.inventory.new') %>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="<%= admin_parts_inventories_path %>">
                  <div>
                    <%= t('header.inventory.all') %>
                  </div>
                </a>
              </li>
            </ul>
          </li>

      <% end %>

      <li>
        <%= link_to destroy_user_session_path, :method => 'delete' do %>
            <i class="fa fa-sign-out"></i> <%= t('header.logout') %>
        <% end %>
      </li>
    </ul>

  </nav>
</div>