<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>We repair<br/>
            mobiles, tablets,<br/>
            and sell mobile accessories
            </h1>
          <p>We've service centers all over the country.</p>
          <!--<p>-->
            <!--<a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>-->
            <!--<a class="caption-link" href="#" role="button">Inspinia Theme</a>-->
          <!--</p>-->
        </div>
        <div class="carousel-image wow zoomIn">
          <%= image_tag 'landing/mobile-doctor.jpg' %>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption blank">
          <h1>We repair smart phones <br/> bar and touch phones.</h1>
          <p>Kingstar Mobile inherited that same expert and experienced, dedicated and dynamic team to launch its own brand</p>
          <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back two"></div>
    </div>
  </div>
  <a class="left carousel-control" href="<%= root_path %>#inSlider" role="button" data-slide="prev">
    <span class="fa fa-arrow-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="<%= root_path %>#inSlider" role="button" data-slide="next">
    <span class="fa fa-arrow-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>Service Centers</h2>
      <p>We've service centers all over bangladesh to support you. Find your nearest one from our lots of service centers.</p>
      <p><a class="navy-link" href="<%= admin_service_centers_path %>" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Smart phones </h2>
      <p>We service different types of mobiles brands and models includeing Kingstar, Nokia, Samsung etc. Interested persons can check out our devices.</p>
      <p><a class="navy-link" href="<%= admin_device_models_path %>" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Online Support</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>E-Commerce</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
  </div>
</section>

<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Over 10+ Service Centers<br/> <span class="navy"> with many experienced technicians</span> </h1>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-map features-icon"></i>
        <h2>Service Centers</h2>
        <p>We've service centers all over bangladesh to support you. Find your nearest one from <%= link_to 'here', admin_service_centers_path %></p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-mobile features-icon"></i>
        <h2>Smart phones </h2>
        <p>We service different types of mobiles brands and models includeing Kingstar, Nokia, Samsung etc. For more details click <%= link_to 'here', admin_device_models_path %></p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <%= image_tag 'landing/cover-photo.png', :class=> "img-responsive" %>
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-phone features-icon"></i>
        <h2>Online Support</h2>
        <p>You can reach us with your query through our online support center.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-shopping-cart features-icon"></i>
        <h2>E-Commerce</h2>
        <p>You can shop from our e-commerce site where varities of mobiles are present and you can purchase from there. To visit click <%= link_to 'here', 'https://www.kingstarmobile.com/shop' %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>About Electra & Kingstar Mobile</h1>
      <p>Kingstar Mobile is one of the top mobile phone brands in Bangladesh. </p>
    </div>
  </div>
  <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>Kingstar</small>
      <h2>Perfectly designed </h2>
      <p>
        Having started its journey back in 2010, the company boasts itself as the first Bangladeshi Android smart phone brand.<br>
        Kingstar was also pioneer in many aspects of mobile phone markets in Bangladesh. The list includes–
        <ul>
          <li>First Bangladeshi Android smart phone brand</li>
          <li>First Bangla user interface in Bangladeshi bar phone </li>
          <li>First Bangla input method in bar phone</li>
          <li>First Bangladeshi SAR certified brand</li>
        </ul>
      </p>
      <a href="https://www.kingstarmobile.com/about" class="btn btn-primary">Learn more</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
      <%= image_tag 'landing/Kingstar-Logo-Big.png', :class=> "img-responsive pull-right" %>
    </div>
  </div>
</section>

<section id="team" class="gray-section team">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Our Team</h1>
        <p>Our experienced tech team can serve you 24/7</p>
      </div>
    </div>
    <div class="row">
        <% @admin_users.each do |user| %>
          <div class="col-sm-4">
            <div class="team-member wow zoomIn">
              <%= image_tag user.profile.photo.present? ? user.profile.photo_url(:thumb) : 'profile.jpg', :class=> "img-responsive img-circle img-small" %>
              <h4><span class="navy"><%= user.profile.first_name %></span> <%= user.profile.last_name %></h4>
              <p><%= user.email %></p>
              <p><%= user.profile.phone %></p>
              <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>

<section class="comments " style="margin-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>What our users say</h1>
        <p>Our service helped others</p>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="#" class="pull-left">
            <%= image_tag 'landing/avatar3.jpg'%>
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="landing.html" class="pull-left">
            <%= image_tag 'landing/avatar1.jpg' %>
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="#" class="pull-left">
            <%= image_tag 'landing/avatar1.jpg' %>
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>



    </div>
  </div>

</section>

<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contact Us</h1>
        <p>Feel free to contact us if you need any assistance for your mobile.</p>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">Kingstar Mobile</span></strong><br/>
          5th Floor, Hosna Centre<br/>
          106, Gulshan Avenue, Gulshan<br/>
          Dhaka 1212, Bangladesh<br/>
          <abbr title="Phone">P:</abbr> (+88) 0197 3532872
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
        <p class="m-t-sm">
          Or follow us on social platform
        </p>
        <ul class="list-inline social-icon">
          <li><a href="https://twitter.com/KingstarMobile"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.facebook.com/kingstarmobilebd"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.youtube.com/c/KingstarMobileBD"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2016 Kingstar Mobile</strong><br/> Powered by Electra</p>
      </div>
    </div>
  </div>
</section>
