<div class="wrapper wrapper-content animated fadeInRight">
  <h1><%= @device_status.new_record? ? 'New Device Status' : 'Edit Device Status' %></h1>

  <div class="row">
    <div class="col-md-8">
      <%= form_for([:admin, @device_status], :html => {role: 'form'}) do |f| %>

          <%= render partial: 'shared/errors', :locals => {object: @device_status} %>

          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Device Status</h5>
            </div>

            <div class="ibox-content">

              <div class="form-group">
                <%= f.label 'Name' %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
              </div>

              <div class="form-group">
                <div class="switch">
                  <div class="onoffswitch">
                    <%= f.check_box :status, id: 'example1', class: 'onoffswitch-checkbox'  %>
                    <!--<input type="checkbox" id="example1" class="onoffswitch-checkbox" name="service_center[is_active]" checked="" value="true">-->
                    <label for="example1" class="onoffswitch-label">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="actions form-group">
            <%= f.submit class: 'btn btn-sm btn-primary pull-left m-t-n-xs' %>
            <%= link_to 'Back', admin_device_statuses_path, class: 'btn btn-sm btn-white m-t-n-xs margin-left' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
