<div class="wrapper wrapper-content animated fadeInRight">
  <h1><%= @device_problem.new_record? ? 'New Device Problem' : 'Edit Device Problem' %></h1>

  <div class="row">
    <div class="col-lg-8">
      <%= form_for([:admin, @device_problem], :html => {role: 'form'}) do |f| %>

          <%= render partial: 'shared/errors', :locals => {object: @device_problem} %>

          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Device Problem Information</h5>
            </div>

            <div class="ibox-content">

              <div class="form-group">
                <%= f.label 'Name' %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
              </div>
              <div class="form-group">
                <%= f.label 'Description' %>
                <%= f.text_field :description, class: 'form-control', placeholder: 'Description', required: true %>
              </div>
              <div class="form-group">
                <%= f.label 'Status' %>
                <%= f.text_field :status, class: 'form-control', placeholder: 'Status', required: true %>
              </div>

            </div>
          </div>

          <div class="actions form-group">
            <%= f.submit class: 'btn btn-sm btn-primary pull-left m-t-n-xs' %>
            <%= link_to 'Back', admin_device_problems_path, class: 'btn btn-sm btn-white m-t-n-xs margin-left' %>
          </div>
      <% end %>
    </div>
    <!--<div class="col-lg-4">-->
      <!--<h3>Other Device Problems</h3>-->
          <!--<%# @device_problems.each do |device| %>-->
              <!--<div class="widget lazur-bg p-xl">-->

                <!--<h2>-->
                  <!--<%#= device.name %>-->
                <!--</h2>-->
                <!--<ul class="list-unstyled m-t-md">-->
                  <!--<li>-->
                    <!--<span class="fa fa-home m-r-xs"></span>-->
                    <!--<label>Description:</label>-->
                    <!--<%#= device.description %>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<span class="fa fa-envelope m-r-xs"></span>-->
                    <!--<label>Status:</label>-->
                    <!--<%#= device.status %>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
          <!--<%# end %>-->
      <!--</div>-->
  </div>
</div>
