<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag 'favicon.png' %>
  <title>Electra Service Center - Home Page</title>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag "application" %>

</head>
<body id="page-top" class="landing-page">
  <div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Electra - Repair Shop</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="<%= root_path %>#page-top">Home</a></li>
          <li><a class="page-scroll" href="<%= root_path %>#features">What we do?</a></li>
          <li><a class="page-scroll" href="<%= root_path %>#team">Team</a></li>
          <li><a class="page-scroll" href="<%= root_path %>#contact">Contact</a></li>
          <li><a class="page-scroll" href="<%= admin_dashboard_path %>">Dashboard</a></li>
          <% if current_user.present? %>
              <li><a class="page-scroll" href="<%= destroy_user_session_path %>" data-method="delete">Logout</a></li>
          <% else %>
              <li><a class="page-scroll" href="<%= new_user_session_path %>">Signin</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
  <%= yield %>
</body>
</html>

<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>
